@import url(./normalize.css);
:root {
  --card-background-color: linear-gradient(180deg, #262E37, #191E24);
  --font-regular: 400;
  --font-bold: 700;
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
}
body{
  font-family: 'Overpass', sans-serif;
  display: grid;
  background-color: var(--very-dark-blue);
  color: var(--white);
  height: 100vh;
}
.container {
  place-self: center;
  height: fit-content;
background: var(--card-background-color);
  border-radius: 30px;
  padding: 25px;
  width: 80%;
}
/* How did we do? */
.feedback {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.feedback__icon {
  width: 15px;
  padding: 15px;
  background-color: hsl(212, 19%, 15%);
  border-radius: 100%;
}
.feedback__tell-us {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.feedback__title {
  font-size: 1.5rem;
  font-weight: var(--font-bold);
}
.feedback__paragraph {
  font-size: 15px;
  font-weight: var(--font-regular);
  line-height: 30px;
  color: var(--light-grey);
}
.rating {
  display: flex;
  width: 100%;
}
.rating__list {
  list-style: none;
  display: flex;
  width: inherit;
  justify-content: space-between;
}
.rating__list-item {
  display: flex;
  place-content: center;
  padding: 15px;
  background-color: var(--dark-blue);
  color: var(--light-grey);
  font-size: 15px;
  font-weight: var(--font-regular);
  width: 20px;
  border-radius: 100%;
}
.feedback__button {
  display: flex;
  width: 100%;
  background-color: var(--orange);
  color: var(--white);
  border-style: none;
  border-radius: 50px;
  justify-content: center;
  align-content: center;
  padding: 15px 0;
  text-transform: uppercase;
}
/* Thank you! */
.response {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.response__amount-stars {
  padding: 10px;
  background-color: var(--dark-blue);
  border-radius: 50px;
  color: var(--orange);
  font-size: 14px;
}
.response__thanks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.response__title {
  font-size: 1.5rem;
  font-weight: var(--font-bold);
}
.response__paragraph {
  font-size: 15px;
  color: var(--medium-grey);
  text-align: center;
  line-height: 20px;
}